.sora {
  font-family: "Sora", serif;
 
}

/* header styles */


.header{
  margin-top:20px ;
 margin: 0px;
  background: linear-gradient(#FFFFFF, #EFEBE3);
}
.navbar{
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-around;
}
.images{
  display: flex;
  
  align-items: center;
}
.Product a{
  text-decoration: none;
  color: #111111;
  padding-left: 40px;
  font-size: 1.5rem;
  font-weight: 500;
}

.Product li{
  list-style: none;
}
.Product {
  display: flex;
   gap: 32px;
}
.Login{
  padding: 10px 30px ;
  border-radius: 10px;
  border: 1px solid #179800;
  font-size: 1.23rem;
  font-weight: 500;
  margin: 0px 18px 10PX 5PX;

  color: #111111;
}
.Register{
  padding: 11px 30px ;
  border-radius: 10px ;
  color: #FFFFFF;
  font-size: 1.23rem;
  font-weight: 500;
  border: none;
  background-color: #179800;
}
.search{
  max-width: 40%;
  align-items: center;
}
.truck{
  max-width: 40%;
}
 
/* section  style 1 */
.vegetables{
  max-width: 50%;
 
}
.every{
  text-align: center;
}
.title{
 font-size: 3.5rem;
 font-weight:500;
 margin-bottom: 10px;
}
.des{
  font-size: 1.20rem;
  font-weight: 400
  color: #111111 ;
}
.Count{
  color:#179800 ;
}


@media screen and (max-width:576px) {
  .Register{
    display: none;
  }
  .Login{
    display: none;
  }
  .Product{
    display: none;
    
  }
 .title{
  font-size: 2rem;
  te
 }
 .logo{
  margin-right: 20px;
 }
}

/* main section */
.description{
  width: 340px;
  text-align: center;
  margin: auto;
  margin-bottom:20px;
}
.tit{
  text-align: center;
}
.Servi{
 
  margin: 190px 140px 100px 140px;
}
.Services{
  margin: 40px, auto;
 gap: 50px;
 display: flex;
 
 
}
.available{
  background-color: #EFEBE3;
  border-radius: 16px;
  width: 490px;
  
}
.img{
margin-left: 190px;
margin-top: 50px;
}
.Servic{
  margin-left: 45px;
  font-size: 2.20rem;
  font-weight: 500;
  color: #179800;
}
@media screen and (max-width:576px) {
  .Services{
    flex-direction: column;
    gap: 30px;
    
  }
  .Servi{
  margin-left: 5PX;
   
    margin-top: 50px;
  }
  .available{
    width: 400px;
  }
  .img{
    margin-left: 150px;
  }
}




/* crad style */
.section{
  background-color: #EFEBE3;
  padding: 50px;
  margin-bottom: 100px;
}
.off{
  font-size: 2rem;
  color: white;
  padding-left: 50px;
 
  font-weight: 500;
}
.essentials{
  padding-left: 50px;
  font-size: 1rem;
  font-weight: 500;
  color: #111111;
}
.caad{
  background-color: #FFFFFF;
  display: flex;
  margin: 0;
  width: 275px;
  height: 118px;
  border-radius: 10px;
  
 
}
.imag{
  align-items: center;
  max-width: 100%;
  background-color: #EFEBE3;
  padding: 10px;
  margin: 20px 10px 16px 16px;
 
  border-radius: 10px;
}
.subtitle{
  margin-top: 5px;
  margin-bottom: 5px;
}
.main-title{
  margin-top: 5px;
  font-size: 1.35rem;
  color: #111111;
  margin-bottom: 0px;
  font-weight: 400;
}
.deccri{
  margin-top: 5px;
  color: #111111;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 0;
  padding-bottom: 10px;
  margin-bottom: 0;
}
.imge {
  margin-top: 16px;
 
  margin-left: 8px;
}
.crad{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 6px;
  margin: 0;
  
  margin-left: 100px;
}
.world{
  display: flex;
  
}
.Popular{
  margin-left: 100px;
  font-size: 2.10rem;
  color: #179800;
}
.Discover{
  background: linear-gradient(#53DB3A, #FFFFFF);
 margin-left: 100px;
 padding-top: 10px;
  height: 425px;
  border-radius: 10px;
}
.vegetable{
  padding-left: 220px;
  
  padding-bottom: 30px;
 width: 50%;
}

.Buy-Now{
  padding: 10px 20px;
  
  font-size: 1.20rem;
  font-weight: 500;
  background-color: white;
  margin-left: 50px;
  border: none;
  border-radius: 10px;
}



/* section 3 style */
.box-1{
  background-color: #115414;
  border-radius: 20px;
  display: flex;
 
}
.box-2{
  background-color: #102861;
  display: flex;
  border-radius: 20px;
  
}
.main-box{
  display: flex;

  gap: 50px;
  margin-left: 320px;

}
.logo-1{
  margin-left: 40px;
  margin-top: 48px;

}
.logo-2{
  margin-left: 26px;
  margin-top: 19px;
 

}
.button-1{
  padding: 15px 35px;
  font-size: 1.25rem;
  color: #FFFFFF;
  background-color: #63B76D;
  border-radius: 13px;
  border: none;
  margin-top: 25px;
  margin-left: 40px;
}
.button-2{
  padding: 15px 25px;
  font-size: 1.25rem;
  margin-left: 26px;
  margin-top: 10px;
  color: #FFFFFF;
  background-color: #63B76D;
  border-radius: 13px;
  border: none;
}
.up-title-1{
  font-size: 2.20rem;
  color: white;
  font-weight: 400;
  margin-left: 40px;
 padding-top: 10px;
}
.up-title-2{
  font-size: 2.20rem;
  color: white;
  font-weight: 400;
  padding-left: 26px;
  padding-top: 10px;
}
.span{
  font-weight: 700;


}
.dawat{
  margin-top: 33px;
}
.india{
 padding-top: 48px;
 margin-right: 16px;
}
.Offers{
  margin-left: 324px;
  font-size: 2.10rem;
  font-weight: 600;
  
  color: #179800;
}
/* chhhh */

.input{
  padding: 20px 90px;
  border: none;
  border-radius: 7px;
}
.Grocery{
  font-size: 2.20rem;
  margin-bottom: 10px;
  font-weight: 600;
}
.ips{
  font-size: 1.20rem;
  font-weight: 500;
}
#button{
  padding: 10px 30px;
  font-size: 1.20rem;
  
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
  background-color: #179800;
  border-radius: 7px;
}
.raining {
  padding-top: 80px;
  margin-left: 50px;
}
.busket{
  display: flex;
  gap: 100px;
 
    border-radius: 24px;
  background-color: #EFEBE3;
 width: 1200px;
 margin:80px 15px 10px 320px;
 
}

/* fotter styles */
.Contact li{
  list-style: none;
  margin-top: 20px;
}
.Contact{
  font-size: 1.20rem;
  color:#FFFFFF;
}
.business{
  display: flex;
  gap: 20px;
}
.footer-section{
 
 
  height: 400px;
  background-color: #179800;
}
.footer-Contact{
  display: flex;
 height: 400px;
  align-items:center;
  justify-content: space-around;
 
}

.ipse{
 font-size: 1.15rem;
 color: #FFFFFF;
}
.Follow{
  font-size: 1rem;
  color: #FFFFFF;
}


@media screen and (max-width:576px) {
  .Discover{
    margin-bottom: 10px;
    height:400px;
    width: 100%;
    margin-left: 10px;
  }
  .world{
    flex-direction: column;
  }
  .crad{
   grid-template-columns: repeat(2,1fr);
   margin-left: 2px;
  }
  .vegetable{
   padding-left: 50px;
   padding-top: 30px;
  }
  .Popular{
    font-size: 1.5rem;
    margin-left: 10px;
  }
  .caad{
    width: 190px;
    height: 115px;
  }
  
  .imge{
    max-width: 14%;
  }
  .section{
    padding: 3px;
    margin-right: 10px;
  }
  .main-title{
    font-size: 10px;
    align-items: center;
  }
  .subtitle{
    font-size: 12px;
  }
  .deccri{
    font-size: 10px;
  }
  #hidden{
    display: none;
  }
}

/* footer */
@media screen and (max-width:576px) {
  .footer-Contact{
    flex-direction: column;
    
  }
  .footer-section{
    height: 500px;
    width: 500px;
    align-items: start;
    margin-right: 10px;
   
  }
  
}
@media screen and (max-width:576px){
  .main-box{
    margin-left: 5px;
    flex-direction: column;
   
  }
  
.dawat{
  width: 190px;
  padding-bottom: 20px;
 padding-left: 30px;
 padding-top: 10px;
}
.button-1{
  margin-left: 2px;
  width: 150px;
  margin-left: 8px;
  font-size: 10px;
  margin-top: 0; 
   padding:8px 8px;
}
  .logo-1{
    margin-left: 2px;
    max-width: 90%;
  }
  .up-title-1{
    font-size: 22px;
    width: 200px;
    padding-top:30px ;
    margin-left: 0;
    height: 40px;
    margin-top: 0;
    padding-left: 8px;
   
  }
  
 .box-1{
  width: 400px;
  height: 220px;
 }


 .Offers{
  margin:auto ;
 }





 .india{
  width: 130px;
  padding-bottom: 20px;
 padding-left: 30px;
 padding-top: 10px;
}
.button-2{
  margin-left: 2px;
  width: 150px;
  margin-left: 8px;
  font-size: 10px;
  margin-top: 0; 
   padding:8px 8px;
}
  .logo-2{
    margin-left: 20px;
    width: 70px;
  }
  .up-title-2{
    font-size: 22px;
    width: 200px;
    padding-top:30px ;
    margin-left: 0;
    height: 40px;
    margin-top: 0;
    padding-left: 8px;
   
  }
  
 .box-2{
  width: 400px;
  height: 220px;
 }

.busket{
  flex-direction: column;
  gap: 20px;
  width: 410px;
  margin-left: 0;
}
 
.title{
  font-size: 23px;
}
.des{
  font-size: 11px;
}
}